body{
        background-color: #FECECE;
        margin: 0px;
    }
.heading{
        background-color: #D78E8E;
        height: 100px;
    }
h1{
        font-size: 500%;
        font-family: verdana;
        color: #611414;
        text-align: center;
    }
            
